<!-- Popup Form for Creating Profile -->
<section class="popup-overlay" id="popupOverlay">
    <div class="popup">

        <div class="close-container">
            <div class= "close" onclick="closePopup()"></div>
        </div>

        <div class="popup-text">
            <h4>Add a profile</h4>
            <p>Add a profile for another person to critic films</p>  
        </div>
        

        <div class="profile-input">
            <div class="new-img"></div>
            <div>
                <input type="text" id="profileName" placeholder="Name">
                <p id="input-warning"></p>
            </div>
        </div>

        <hr>

        <div class="button-container">
            <button class="save" onclick="createProfile()">Save</button>
            <button class="cancel" onclick="closePopup()">Cancel</button>
        </div>

    </div>
</section>