<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/login_head.ejs') %>
</head>
<body>
    <section class="container">
        <div>
            <h1>Movie Critics</h1>
        </div>

        <!-- For each user -->
        <div class="profiles-container">

            <% users.forEach(user => { %>
                <div class="profile-block">
                    <div class="div-img">
                        <img src="assets/avatar_imgs/basic.jpg" alt="">
                    </div>
                    <h2><%= user.name %></h2>
                </div>
            <% }) %>

            <!-- Add Profile -->
            <div class="profile-block" onclick="showPopup()">
                <div class="add-img">
                    <div class="add-sign">+</div>
                </div>
                <h2>Add Profile</h2>
            </div>

        </div>

        <div class="manage-profiles">
            <a href="/manage-profiles" style="text-decoration: none; color: inherit;">
                <h3>Manage Profiles</h3>
            </a>
        </div>
    </section>

    <!-- Popup Form for Creating Profile -->
    <%- include('./partials/create_profile_popup.ejs')  %>
</body>
</html>