<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/login_head.ejs') %>
</head>
<body>
    <section class="container">
        <div>
            <h1>Movie Critics</h1>
        </div>

        <!-- For each user -->
        <div class="profiles-container">

            <% users.forEach(user => { %>
                <div class="profile-block">
                    <div class="div-img"></div>
                    <h2><%= user.name %></h2>
                </div>
            <% }) %>
            
            <div class="profile-block">
                <div class="div-img"></div>
                <h2>All</h2>
            </div>

            <!-- Add Profile -->
            <div class="profile-block" onclick="showPopup()">
                <div class="add-img">
                    <div class="add-sign">+</div>
                </div>
                <h2>Add Profile</h2>
            </div>

        </div>

        <div class="manage-profiles">
            <h3>Manage Profiles</h3>
        </div>
    </section>

    <!-- Popup Form for Creating Profile -->
    <section class="popup-overlay" id="popupOverlay">
        <div class="popup">

            <div class="close-container"><div class= "close" onclick="closePopup()"></div></div>
            <h4>Add a profile</h4>
            <p>Add a profile for another person to critic films</p>

            <div class="profile-input">
                <div class="new-img"></div>
                <input type="text" id="profileName" placeholder="Name">
            </div>

            <div class="button-container">
                <button>Save</button>
                <button onclick="closePopup()">Cancel</button>
            </div>

        </div>
    </section>
</body>
</html>