h1{
    font-weight: 300;
    font-size: 4rem;
    margin: 60px 0 25px 0;
}
h2{
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    opacity: .8;
}

.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.profiles-container{
    display: flex;
    gap: 50px;
}

/* Each profile block */
.profile-block{
    text-align: center;
    cursor: pointer;
}
.div-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: rgb(151, 109, 109);
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 150px;
}
.add-sign{
    padding-bottom: 25px;
}
.profile-block:hover .div-img{
    border: 3px solid white;
    margin: -2px;
}
.profile-block:hover h2{
    opacity: 1;
}

/* Add Profile */
.add-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 120px;
    color: rgb(21, 21, 21);
}
.add-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 90px;
    padding-top: 10px;
    border-radius: 50%;
    background-color: rgb(97, 97, 97);
}
.profile-block:hover .add-img{
    background-color: rgb(234, 234, 234);
    color: rgb(234, 234, 234);
}

/* Manage profile button */
.manage-profiles{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-top: 60px;
}
h3{
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: 1.3px;
    margin: 0;
    opacity: .5;
}
.manage-profiles:hover{
    border: 2px solid white;
    margin-top: 58px;
}
.manage-profiles:hover h3{
    opacity: 1;
}

/* Add Profile Popup */
.popup-overlay{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(8, 8, 8);
}
.popup{
    text-align: center;
    width: 600px;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    height: fit-content;
    background-color: rgb(21, 21, 21);;
    border: 1px solid rgba(191, 191, 191, 0.251);
}

        /* Popup Text */
.popup-text{
    margin: 50px 0 50px 0;
}
.popup-text h4{
    margin: 0 0 8px 0;
    font-size: 2rem;
}
.popup-text p{
    margin: 0;
}

        /* Popup Input with base image */
.profile-input{
    display: flex;
    align-items: center;
}
.new-img{
    height: 90px;
    width: 110px;
    border-radius: 5px;
    background-color: pink;
    margin-right: 20px;
}
input{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1rem;
    color: white;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    caret-color: white;
}
input:focus{
    outline: 2.5px solid white;
    outline-offset: 2px;
}
.profile-input > div:last-child{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#input-warning{
    display: none;
    text-align: left;
    margin-left: 5px;
    color: orange;
    font-size: .8rem;
}

.popup hr{
    margin: 60px 0 60px 0;
    opacity: .5;
}


        /* Buttons */
.button-container{
    display: flex;
    flex-direction: column;
}
.button-container > button{
    height: 50px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s;
}
.button-container .save{
    background-color: white;
    margin-bottom: 10px;
}
.button-container .cancel{
    background-color: transparent;
    color: white;
    margin-bottom: 30px;
}
.button-container .save:hover{
    opacity: .7;
}
.button-container .cancel:hover{
    background-color: rgba(255, 255, 255, 0.255);
}

        /* Popup x icon */
.close-container{
    width: fit-content;
    padding: 5px;
    margin-top: 5px;
    margin-right: -20px;
    border-radius: 50%;
    transition: all .2s;
    float: right;
}
.close-container:hover{
    background-color: grey;
    cursor: pointer;
}
.close {
    position: relative;
    height: 25px; /* this can be anything */
    width: 25px;  /* ...but maintain 1:1 aspect ratio */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close::before,
.close::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px; /* cross thickness */
    background-color: white;
}
.close::before {
    transform: rotate(45deg);
}
.close::after {
    transform: rotate(-45deg);
}

